
@*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2018-05-28 18:37:11
 *     ©为之团队
 *------------------------------------------------------------------------------*@


 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form2.cshtml";
}
<script>

</script>

<form id="form1">
    <input type="hidden" id="Id" name="Id" value="" />
    <div id="jfine-form-container" class="jfine-form-container" border="0">
        <table id="jfine-form-maintable" class="jfineui jfine-form-maintable" style="table-layout: fixed;"
               border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr id="jfine-form-titlebg" class="jfine-form-titlebg">
                    <td>
                        <table align="center" border="0" style="margin: 0px auto; width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="jfine-form-header_l">
                                        <span class="jfine-form-logo">
                                            <img src="/Content/images/formlogo.png" />
                                        </span>
                                    </td>
                                    <td class="jfine-form-header_c">
                                        <span class="jfine-form-header-title">@Model.NoticeName</span>
                                    </td>
                                    <td class="jfine-form-header_r">
                                        <div>
                                            <div class="btn-group">
                                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="jfine-form-formcontent" class="jfine-form-titlebg" style="">
                    <td>
                        <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                            <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px; border-bottom:1px solid #CCC; text-align:center;font-size:12pt;">
                                阅读次数: @Model.ReadCount　 发布日期:@Model.PublishTime 　发布人: @Model.NoticeName　 来 源: @Model.PublishDEPT
                            </div>
                            <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;white-space:normal;">
                                @Html.Raw(Model.NoticeContent)
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
