<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>企业生产设备数据监控</title>
    <script type="text/javascript" src="/Plugins/JFine.IOT/Content/js/jquery.js"></script>
    <script type="text/javascript" src="/Plugins/JFine.IOT/Content/js/echarts.min.js"></script>
    <script src="/Plugins/JFine.IOT/Content/js/highcharts.js?v=1.0.3"></script>
    <script src="/Plugins/JFine.IOT/Content/js/highcharts-more.js?v=1.0.3"></script>
    <script src="/Plugins/JFine.IOT/Content/js/highstock.js"></script>
    <script src="/Plugins/JFine.IOT/Content/js/jquery.reusable-highcharts.min.js"></script>
    <script src="/Plugins/JFine.IOT/Content/js/exporting.js"></script>
    <script src="/Plugins/JFine.IOT/Content/js/solid-gauge.js"></script>
    <script type="text/javascript" src="/Plugins/JFine.IOT/Content/js/deviceIndex.js?v=sdfdd1ss.dd63"></script>
    <script type="text/javascript" src="/Plugins/JFine.IOT/Content/js/jquery.liMarquee.js"></script>
    <script type="text/javascript" src="/Plugins/JFine.IOT/Content/js/jquery.cxselect.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/js/signalR/jquery.signalR-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css?v=1.0.3" rel="stylesheet" />

    <link rel="stylesheet" href="/Plugins/JFine.IOT/Content/css/comon0.css">
</head>
<body>
    <div style="background:#000d4a url(/Plugins/JFine.IOT/Content/images/bg.jpg) center top;">
        <div class="loading">
            <div class="loadbox"> <img src="/Plugins/JFine.IOT/Content/images/loading.gif"> 页面加载中... </div>
        </div>
        <div class="back"></div>
        <div class="head">
            <div class="weather"><span id="showTime"></span></div>
            <h1>生产设备数据监控</h1>

        </div>
        <script>
            var t = null;
            t = setTimeout(time, 1000);/*開始运行*/
            function time() {
                clearTimeout(t);/*清除定时器*/
                dt = new Date();
                var y = dt.getFullYear();
                var mt = dt.getMonth() + 1;
                var day = dt.getDate();
                var h = dt.getHours();
                var m = dt.getMinutes();
                var s = dt.getSeconds();
                document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "日" + h + "时" + m + "分" + s + "秒";
                t = setTimeout(time, 1000);
            }

        </script>

        <style type="text/css">
            .table1 span {
                width: 200px;
            }
            .mainbox{
                height:962px;
            }
        </style>
        <div class="mainbox">
            <div class="container-fluid">
                <div class="row">
                    @for (int i = 0; i < ViewBag.DiviceList.Count; i++)
                    {
                        <div class="col-md-3" style="padding-left:0;padding-right:0;">
                            <div class="boxall" style="height:300px;margin:5px;">
                                <div style="text-align:center"><span style="font-size:18px;color:white">@ViewBag.DiviceList[i].Name</span></div>
                                <div class="container-warn" id="warn_@ViewBag.DiviceList[i].Brand" deviceId="@ViewBag.DiviceList[i].Code" style="width:48%; height: 40px; float: left;overflow:hidden;">
                                    <span style="color:white;font-size:x-large;font-family:fantasy">状态:</span>
                                    <span class="label" style="font-size:large;text-align:center;border-radius:4px;"></span>

                                </div>
                                <div class="container-vibrate" id="vibrate_@ViewBag.DiviceList[i].Brand" deviceId="@ViewBag.DiviceList[i].Code" style="width:48%; height: 40px; float: right;overflow:hidden;">
                                    <span style="color:white;font-size:x-large;font-family:fantasy">振动:</span>
                                    <span class="label" style="font-size:large;text-align:center;color:red">24</span>
                                </div>
                                <div class="container-current" id="current_@ViewBag.DiviceList[i].Brand" deviceId="@ViewBag.DiviceList[i].Code" style="width: 35%; height: 120px; float: left;overflow:hidden"></div>
                                <div class="container-frequency" id="frequency_@ViewBag.DiviceList[i].Brand" deviceId="@ViewBag.DiviceList[i].Code" style="width:64%; height:120px;float: right; margin: 0 auto"></div>
                                <div class="container-label" id="@ViewBag.DiviceList[i].Brand" deviceId="@ViewBag.DiviceList[i].Code" style="width: 4%; height: 100px; float: left;overflow:hidden">
                                    <span style="color:white;font-size:small;font-family:fantasy">功率</span>
                                </div>
                                <div class="container-temperature" id="temperature_@ViewBag.DiviceList[i].Brand" deviceId="@ViewBag.DiviceList[i].Code" style="width: 96%; height: 100px; float: left;overflow:hidden"></div>

                            </div>
                        </div>
                        @*<div class="col-md-3" style="padding-left:0;padding-right:0;">
                            <div class="boxall" style="height:300px;margin:5px;border:1px solid #3343b7ab">
                                <div style="text-align:center"><span style="font-size:18px;color:white">@ViewBag.DiviceList[i].Name</span></div>
                                <div class="navboxall" style="position:absolute;margin-left:35px;" id="@ViewBag.DiviceList[i].Brand" deviceId="@ViewBag.DiviceList[i].Code">
                                    <div id="power" style="width:120px;height:120px;background-color:#ed405d;border:1px solid;float:left;margin:2px; ">
                                        <span style="color:black;font-size:x-large;font-family:fantasy">电流:</span>
                                        <span style="display:block;font-size:xx-large;text-align:center;"></span>

                                    </div>
                                    <div id="temperature" style="width:120px;height:120px;background-color:#49bcf7;border:1px solid;float:left;margin:2px; ">

                                        <span style="color:black;font-size:x-large;font-family:fantasy">温度:</span>
                                        <span style="display:block;font-size:xx-large;text-align:center;"></span>
                                    </div>
                                    <div id="humidity" style="width:120px;height:120px;background-color:#f78c44;border:1px solid;float:left;margin:2px; ">

                                        <span style="color:black;font-size:x-large;font-family:fantasy">湿度:</span>
                                        <span style="display:block;font-size:xx-large;text-align:center;"></span>
                                    </div>
                                    <div id="rate" style="width:120px;height:120px;background-color:#878787;border:1px solid;float:left;margin:2px; ">

                                        <span style="color:black;font-size:x-large;font-family:fantasy">比率:</span>
                                        <span style="display:block;font-size:xx-large;text-align:center;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    }



                </div>
            </div>

        </div>
    </div>

    <script>

    </script>


</body>
</html>
